$desktop-width: 1280px;
$tablet-width: 768px;
$small-width: 320px;
$landscape-narrowHeight-width: 950px;

//********************
//colors
//********************
//*****Primary*****
$txt-color-1: #323232;
$cta-outline-color: #0095ff;
$label-color: #afafaf;
$bg-color: #ffffff;
//*****Secondry****
$video-bg-color: #000000;
$CTA-hov-color: #0065ad;
$divider-color: #e1e1e1;
$form-bg-color: #fafafa;
